.scrollbar-styled::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

.scrollbar-styled::-webkit-scrollbar-track {
  background: #f1f1f1; /* Track color */
}

.scrollbar-styled::-webkit-scrollbar-thumb {
  background: #888; /* Handle color */
  border-radius: 6px; /* Handle border radius */
  border: 3px solid #f1f1f1; /* Handle border color */
}

.scrollbar-styled::-webkit-scrollbar-thumb:hover {
  background: #555; /* Handle color on hover */
}

.scrollbar-styled {
  scrollbar-width: thin; /* 'auto' or 'thin' */
  scrollbar-color: #888 #f1f1f1; /* Handle and track color */
}
